.App {
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

.App-link {
	color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@font-face {
	font-family: "GothamBook";
	src: local("GothamBook"), url(./fonts/GothamBook.otf) format("opentype");
}

@font-face {
	font-family: "GothamBold";
	src: local("GothamBold"), url(./fonts/GothamBold.ttf) format("truetype");
}

@font-face {
	font-family: "GothamBlack";
	src: local("GothamBlack"), url(./fonts/GothamBlack.ttf) format("truetype");
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track-piece {
	background: #d8d8d8;
}

::-webkit-scrollbar-thumb {
	background: #eb5b51;
}
