body {
	margin: 0;
}

p,
h2,
h3,
h4,
h5,
h6,
input,
label {
	font-family: "GothamBook";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 100;
}

h1 {
	font-family: "GothamBlack";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
